@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  background-color: #202124;
  font-family: 'Noto Sans TC', sans-serif;
}

hr {
  margin: 0;
  background-color: #6E706F;
  height: 1px;
  border: none;
}

a {
  text-decoration: none;
}

.title {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: end;

  font-size: 70px;
  font-weight: 600;
  color: #F6F6F6;
}

.byname {
  max-width: 480px;
  height: 40px;
  background-color: #F6F6F6;
  border-radius: 24px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #6E706F;
  overflow: hidden;
  position: relative;
}

.doctor {
  margin: 10px 35px 10px 15px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;

}

.department {
  margin: 10px 0px 10px 15px;
  display: none;
  align-items: center;
}

.fas {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #0476D0;
  cursor: pointer;
}

.nav {
  display: flex;
}

.logo {
  margin: 30px;
  display: flex;
  justify-content: center;

  font-size: 28px;
  font-weight: 600;
  color: #F6F6F6;
}

.keyword {
  width: 480px;
  height: 40px;
  background-color: #F6F6F6;
  border-radius: 24px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #6E706F;
  overflow: hidden;
  position: relative;
}

.tab {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  color: #F6F6F6;
  margin: 0 0 0 210px;
}

.category {
  margin: 0 15px 0 0;
}

.active {
  border-bottom: 3px solid rgb(137, 207, 240);
  font-size: 17px;
  padding: 0 0 2px 0;
}

.category-text {
  margin: 0 0 10px 0;
}

.content {
  margin: 35px 210px;

  font-size: 16px;
  font-weight: 300;
  color: #F6F6F6;
}

.content-title {
  color: rgb(137, 207, 240);
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
}

.content-text {
  color: #F6F6F6;
}

.content-link {
  color: rgb(137, 207, 240);
}

.highlight {
  color: #FF9D57;
  font-weight: 700;
}

.from {
  margin: 35px 210px;
  color: #4ACFAC;
  font-size: 18px;
  font-weight: 400;
}

.content-name {
  color: #9aa0a6;
}