<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FindDoctor</title>
  <link rel="stylesheet" href="template.css">
  <script src="https://kit.fontawesome.com/37fb3b3f95.js" crossorigin="anonymous"></script>

</head>

<body>

  <div class="title">FindDoctor</div>

  <div class="search-container">
    <div class="byname">
      <input class="doctor" placeholder="請輸入醫生名稱">
      <input class="department" placeholder="科別">
      <i class="fas fa-search"></i>
    </div>
  </div>

  <script>
    const submit = document.querySelector(".fas")
    submit.addEventListener("click", function (event) {
      const search = document.querySelector(".doctor").value
      const url = '/api/' + search
      fetch(url, { method: 'get' })
      return window.location.href = "/thank?search=" + search
    })

    const input = document.querySelector(".doctor")
    input.addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
        const search = document.querySelector(".doctor").value
        const url = '/api/' + search
        fetch(url, { method: 'get' })
        return window.location.href = "/thank?search=" + search
      }
    })


  </script>
</body>

</html>