<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FindDoctor</title>
  <link rel="stylesheet" href="template.css">
  <script src="https://kit.fontawesome.com/37fb3b3f95.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="nav">
    <a class="logo" href="/">FindDoctor</a>
    <div class="keyword">
      <input class="doctor" placeholder="請輸入醫生名稱">
      <i class="fas fa-search"></i>
    </div>
  </div>

  <div class="tab">
    <div class="category">
      <a class="category-text thank" href="" style="color:white;">臺北榮總感謝函</a>
    </div>
    <div class="category">
      <a class="category-text search" href="" style="color:white;">感謝</a>
    </div>
    <div class="category">
      <a class="category-text Ptt" href="" style="color:white;">Ptt</a>
    </div>
    <div class="category">
      <a class="category-text Dcard" href="" style="color:white;">Dcard</a>
    </div>
    <div class="category">
      <a class="category-text blog" href="" style="color:white;">部落格</a>
    </div>
    <div class="category active">
      <a class="category-text review" href="" style="color:rgb(137, 207, 240);">Google評論</a>
    </div>
    <div class="category">
      <a class="category-text business" href="" style="color:white;">良醫健康網</a>
    </div>
    <div class="category">
      <a class="category-text judgment" href="" style="color:white;">司法院判決書</a>
    </div>
  </div>
  <hr>


  <div class="content-container">
    <div class="content" style="color:yellow;">資料讀取中，請稍後</div>
  </div>

</body>

<script>

  function getReview() {
    function starImg(starcounts) {
      starcounts = Number(starcounts)
      let star = "";
      for (i = 0; i < starcounts; i++) {
        star = star + `<img class="star" src="/star.png" width="15" height="15">`;
      }
      return star
    }

    const inputtext = decodeURIComponent(window.location.search).replace("?search=", "").trim();
    const inputList = inputtext.split(/\s+/);
    const keyword = inputList[0];
    const search = document.querySelector(".doctor");
    search.value = inputtext;
    const contentContainer = document.querySelector(".content-container");
    url = "/api/review/" + inputtext; //

    fetch(url, { method: "GET" })
      .then(response => response.json())
      .then(result => {

        if (result["data"].length === 0) {
          contentContainer.innerHTML = `
          <div class="content" style="color:#f76b8a;">搜尋不到資料</div>
          <div class="from">搜尋關鍵字可嘗試增加醫院名稱，例如：王大明 榮總</div>`
        } else {
          contentContainer.innerHTML = ``;
          const data = result["data"]

          data.forEach(d => {
            if (d["review"] === "") {
              contentContainer.innerHTML = `
          <div class="content" style="color:#f76b8a;">搜尋不到資料</div>
          <div class="from">搜尋關鍵字可嘗試增加醫院名稱，例如：王大明 臺北榮民總醫院</div>`
            } else {
              const content = document.createElement("div");
              content.classList.add("content");

              title = d["name"]
              text = d["review"]
              inputList.forEach(input => {
                title = title.replace(input, `<span class="highlight">${input}</span>`)
                text = text.replace(input, `<span class="highlight">${input}</span>`)
              })

              star = starImg(d["star"])
              content.innerHTML = `
            <a href="${d["link"]}" target="_blank"><span class="content-title">${star}  ${d["when"]}</span>
            <span class="content-name">@${title}．${d["location"]}</span>
            <div class="content-text">${text}</div></a>`
              contentContainer.appendChild(content);
            }
          })
        }
      })
      .catch(error => console.error("Error:", error))
  }

  getReview();

  const submit = document.querySelector(".fas")
  submit.addEventListener("click", function (event) {
    const search = document.querySelector(".doctor").value
    return window.location.href = "/review?search=" + search
  })
  const input = document.querySelector(".doctor")
  input.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      const search = document.querySelector(".doctor").value
      return window.location.href = "/review?search=" + search
    }
  })
  document.querySelector(".thank").href = "/thank?search=" + document.querySelector(".doctor").value
  document.querySelector(".search").href = "/search?search=" + document.querySelector(".doctor").value
  document.querySelector(".Ptt").href = "/Ptt?search=" + document.querySelector(".doctor").value
  document.querySelector(".Dcard").href = "/Dcard?search=" + document.querySelector(".doctor").value
  document.querySelector(".blog").href = "/blog?search=" + document.querySelector(".doctor").value
  document.querySelector(".judgment").href = "/judgment?search=" + document.querySelector(".doctor").value
  document.querySelector(".review").href = "/review?search=" + document.querySelector(".doctor").value
  document.querySelector(".business").href = "/business?search=" + document.querySelector(".doctor").value
</script>

</html>