name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  checks: write
  pull-requests: write
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: pytest function_test.py -v --junitxml="result.xml"
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: '*.xml'

  deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Docker Hub login
        uses: azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker Image
        run: docker build . -t ${{ secrets.DOCKER_USERNAME }}/finddoctor
      - name: Push Docker Image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/finddoctor    
      - uses: actions/checkout@v2 
      - name: Deploy Docker to EC2
        env:
            PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
            HOSTNAME: ${{secrets.SSH_HOST}}
            USER_NAME: ${{secrets.USER_NAME}}

        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '
          sudo docker stop finddoctor
          sudo docker rm finddoctor
          sudo docker rmi ${{ secrets.DOCKER_USERNAME }}/finddoctor
          cd /home/${{secrets.USER_NAME}}/finddoctor 
          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/finddoctor
          sudo docker run -d --name finddoctor --network host ${{ secrets.DOCKER_USERNAME }}/finddoctor
          sudo docker cp .env finddoctor:/app/
          sudo docker start finddoctor
          '